<mat-stepper linear #stepper>
    <!-- #docregion editable -->
      <mat-step  >
    <!-- #enddocregion editable -->
        <form [formGroup]="ViajesForm">
    <!-- #docregion step-label -->
          <ng-template matStepLabel>Fecha</ng-template>
    <!-- #enddocregion step-label -->
    <mat-form-field appearance="fill">
      <mat-label>Elige la fecha de salida</mat-label>
      <input matInput formControlName="fecha" [matDatepicker]="picker" value="fecha" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step  [editable]="isEditable">
        <form [formGroup]="ViajesForm">
          <ng-template matStepLabel>Conductor</ng-template>
          <mat-select formControlName="idUsuario" name="idUsuario" placeholder="Seleccionar conductor" required>
            <mat-option *ngFor="let conductores of driversList" [value]="conductores.id">{{conductores.nombre}}
            </mat-option>
        </mat-select>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step >
        <form [formGroup]="ViajesForm">
          <ng-template matStepLabel>Vehículo</ng-template>
          <mat-select formControlName="idTipoVehiculo" name="idTipoVehiculo" placeholder="Seleccionar vehiculo" required>
            <mat-option *ngFor="let vehiculos of vehiclesList" [value]="vehiculos.idTipoVehiculo">{{vehiculos.tipoVehiculo}}
            </mat-option>
        </mat-select>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step >
        <form [formGroup]="ViajesForm">
          <ng-template matStepLabel>Dirección</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="destino" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <p>¿Estás seguro?</p>
        <div>
          <button mat-button matStepperPrevious>Revisar</button>
          <button mat-button type="submit"  [disabled]="!ViajesForm.valid" (click)="confirm()">Si</button>
        </div>
      </mat-step>
    </mat-stepper>