<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" >
    <mat-nav-list>
      <a routerLink="./addVehicle" mat-list-item (click)="sidenav.toggle()">
        <span>Añadir nuevo vehículo</span>
      </a>


      <a routerLink="./listVehicles" mat-list-item (click)="sidenav.toggle()">
        <span>Ver vehículos</span>
      </a>

      <a routerLink="./listTrips" mat-list-item (click)="sidenav.toggle()">
        <span>Ver viajes</span>
      </a>
    </mat-nav-list>
  
  
  </mat-sidenav> 

    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
      </button>
      <span>Travelling</span>
      <span class="example-spacer"></span>
     <!--  <span>{{user.nombreUsuarioCliente}}</span> -->

      <!-- <button mat-icon-button class="example-icon" disabled>
        <mat-icon>perm_identity</mat-icon>
      </button> -->
      <button mat-icon-button class="example-icon" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container">
    <router-outlet></router-outlet>
    
  </div>
  
</mat-sidenav-container>